@charset "UTF-8";

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;

    
}
.container{
    position: relative; /* MUITO IMPORTANTE */
    display: flex;
    height: 60%;
    width: 100%;
    background-color: #151799;
    
    
}
.ipt{
    display: block;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 0;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
}
.ipt:focus{
    outline: none;
    border-bottom: 2px solid #1d20db;
}
form{
    position: absolute;     /* agora pode usar */
    right: 40px;            /* empurra pra direita */
    top: 50%;               /* posição vertical */
    transform: translateY(-50%); /* centraliza verticalmente */
  
    width: 40%;
    height: 130%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.445);
    padding: 60px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px #00000049;
}
#lMensagem{
    height: 20%;
}
.btn{
    background-color: #ffffff;
    padding: 8px;
    height: 10%;
    width: 20%;
}
.btn:hover{
    transition: 0.1s;
    border: none;
    border-radius: 5px;
    background-color: #151799;
    color: #fff;
    box-shadow: 3px 3px 8px #00000049;;
    
    height: 11%;
    width: 21%;

}
