@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Quicksand:wght@300..700&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;

    
}
.container{
    position: relative;
    display: flex;
    height: 60%;
    width: 100%;
    background-color: #151799d2;
    
    
}
.contato{
    width: 400px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffffc5;
    gap: 10px;
}
.link{
    color: #ffffffc5;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.1rem;
}
.link:hover{
    transform: scale(1.05);
}
.icone{
    width: 25px;
    margin-right: 10px;

}
.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.836);
}
.ipt{
    display: block;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 0;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
}
.ipt:focus{
    outline: none;
    border-bottom: 2px solid #1d20db;
}
form{
    position: absolute;     
    right: 40px;            
    top: 50%;               
    transform: translateY(-50%); 
  
    width: 40%;
    height: 130%;
    background-color: white;
    padding: 60px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px #00000049;
}
#lMensagem{
    height: 20%;
}
.btn{
    background-color: #ffffff;
    padding: 8px;
    height: 10%;
    width: 20%;
}
.btn:hover{
    transition: 0.1s;
    border: none;
    border-radius: 5px;
    background-color: #151799;
    color: #fff;
    box-shadow: 3px 3px 8px #00000049;;
    cursor: pointer;
    transform: scale(1.05);

}
